@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply container mx-auto max-w-4xl px-4;
  }

  .customScrollBar::-webkit-scrollbar {
    @apply w-1 bg-transparent;
  }

  .customScrollBarBig::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }

  .customScrollBar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }
}

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

/* Removes arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --sidebar-background: theme(colors.neutral.50);
    --sidebar-foreground: theme(colors.neutral.950);
    --sidebar-primary: theme(colors.blue.500);
    --sidebar-primary-foreground: theme(colors.neutral.950);
    --sidebar-accent: theme(colors.neutral.200);
    --sidebar-accent-foreground: theme(colors.neutral.950);
    --sidebar-border: theme(colors.neutral.300);
    --sidebar-ring: theme(colors.neutral.300);
  }
  .dark {
    --sidebar-background: theme(colors.neutral.950);
    --sidebar-foreground: theme(colors.neutral.50);
    --sidebar-primary: theme(colors.blue.500);
    --sidebar-primary-foreground: theme(colors.neutral.50);
    --sidebar-accent: theme(colors.neutral.800);
    --sidebar-accent-foreground: theme(colors.neutral.50);
    --sidebar-border: theme(colors.neutral.800);
    --sidebar-ring: theme(colors.neutral.800);
  }
}

/*
  This should be in the component file, but when imported to a file it does not appear on initial SSR generation.
  Can't use tailwind here becuse bg- sets background-color and not background
*/
.numberColorSelectorGradient {
  background: var(--gradLight);
}

.numberColorSelectorGradient:is(.dark *) {
  background: var(--gradDark);
}

.deleteAnimationClass {
  transform-style: preserve-3d;
}

.deleteAnimationClass[data-fading="true"]::after {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  width: calc(100% + var(--drag-away-fade-size));
  height: calc(100% + var(--drag-away-fade-size));

  z-index: 5;

  transform: translate(-50%, -50%) translateZ(-10px);

  border-radius: 0.65rem;

  background: conic-gradient(
    from 0deg,
    #171717 0%,
    #171717 var(--drag-away-fade),
    transparent var(--drag-away-fade),
    transparent 100%
  );
}
.deleteAnimationClass[data-fading="true"]:is(.dark *)::after {
  background: conic-gradient(
    from 0deg,
    #fafaf9 0%,
    #fafaf9 var(--drag-away-fade),
    transparent var(--drag-away-fade),
    transparent 100%
  );
}
