@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}
html {
  height: 100vh;
  height: -webkit-fill-available;
}

#__next {
  height: 100%;
}

@layer components {
  .content-container {
    @apply container mx-auto max-w-4xl;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
